
/Projekt_Versuch3.X/.generated_files
/Projekt_Versuch3.X/nbproject
/Projekt_Versuch3.X/nbproject
/Projekt_Versuch3.X/nbproject
Projekt_Versuch3.X/dist/default/production/Projekt_Versuch3.X.production.map
Projekt_Versuch3.X/dist/default/production/memoryfile.xml
Projekt_Versuch3.X/dist/default/production/Projekt_Versuch3.X.production.elf
/Projekt_Versuch3.X/nbproject
Projekt_Versuch3.X/nbproject/Makefile-genesis.properties
/Projekt_Versuch3.X/.generated_files
*.map
*.mk
*.properties
Projekt_Versuch4.X/.generated_files/flags/default/32d9429c5c2b7958dc5d797187ec389b73d25321
Projekt_Versuch4.X/.generated_files/flags/default/57ee31ddce52ee8c2b0b483358272117b69d03ed
Projekt_Versuch4.X/.generated_files/flags/default/6a504f702ebd5e8c74553df2441b0251d894d474
Projekt_Versuch4.X/.generated_files/flags/default/95200019bd1f97582621bff247218616f71eddb4
Projekt_Versuch4.X/.generated_files/flags/default/994d284e302d057e11f73657e6be42fd9e29db20
Projekt_Versuch4.X/.generated_files/flags/default/b1a0b50972ce5816d93e4c09222e0ecf3f91800
Projekt_Versuch4.X/.generated_files/flags/default/d417db4b5073546c7b454ec2b1c33f90bc3e3d24
Projekt_Versuch4.X/.generated_files/flags/default/f92ffced06934f691b46ab6341a57a7f7329b9c
Projekt_Versuch4.X/nbproject/Makefile-default.mk
Projekt_Versuch4.X/nbproject/Makefile-genesis.properties
Projekt_Versuch4.X/nbproject/Makefile-impl.mk
Projekt_Versuch4.X/nbproject/Makefile-local-default.mk
Projekt_Versuch4.X/nbproject/Makefile-variables.mk
