
/Projekt_Versuch3.X/.generated_files
/Projekt_Versuch3.X/nbproject
/Projekt_Versuch3.X/nbproject
/Projekt_Versuch3.X/nbproject
Projekt_Versuch3.X/dist/default/production/Projekt_Versuch3.X.production.map
Projekt_Versuch3.X/dist/default/production/memoryfile.xml
Projekt_Versuch3.X/dist/default/production/Projekt_Versuch3.X.production.elf
/Projekt_Versuch3.X/nbproject
Projekt_Versuch3.X/nbproject/Makefile-genesis.properties
/Projekt_Versuch3.X/.generated_files
*.map
*.mk
*.properties
